@use "../../vars";

.header {
    overflow: hidden;

    display: flex;
    justify-content: space-between;

    margin: 0 0 2em 0;

    font-family: monospace;

    height: vars.$headerHeight;

    filter: hue-rotate(0deg);
    transition: all 1s ease;

    border-bottom: 0.2em solid #111;

    p {
        margin: 0;
    }

    * {
        font-family: inherit;
    }

    &.red {
        filter: hue-rotate(100deg);
    }
}